.main {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content-main {
  max-width: 1140px;
  margin: 0 auto;
  background-color: red;
  width: 50%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #222;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
p {
  width: 60%;
}
button {
  width: 40%;
  height: 10%;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: none;
  background-color: #8b2cf5;
}

form p {
  color: #fff;
  font-size: 19px;
}
.areaSignUp {
  margin-top: 5%;
  width: 30vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.areaSignUp h3 {
  font-weight: normal;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
}
.btn {
  display: flex;
  align-items: flex-start;
  grid-gap: 12px;
  font-size: 18px;
}
.btn a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 600px) {
  .content-main {
    width: 90%;
  }
  p {
    width: 80%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
  }
  .areaSignUp {
    margin-top: 5%;

    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    display: flex;
    align-items: flex-start;
    grid-gap: 12px;
    font-size: 18px;
  }
  .btn a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #8b2cf5;
  }
}
