section {
  background-color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-content {
  width: 50%;
  max-width: 1140px;
  background-color: #222;
}
.form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.section-content h2 {
  width: 58%;
  text-align: center;

  margin-left: 23%;
  font-size: 19px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.divider {
  width: 70%;
  margin-left: 20%;
}
.form p {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 60%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.section-content h2 {
  color: #fff;
}
@media (max-width: 600px) {
  .section-content {
    width: 90%;
    padding: 10px;
    border-radius: 2%;
  }
  .section-content h2 {
    font-size: 18px;
  }
  .form p {
    margin-top: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
